<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item *ngFor="let receipt of Receipts">
    <ion-label>{{receipt.receipt_label}}
      <p>{{receipt.receipt_amount}}$</p>
      {{receipt.receipt_date | date }}
    </ion-label>

  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addReceipt()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>