ion-icon {
    
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}
ion-content {
    width: 100%;
    height: 100vh;
    --background: #e5e5e5;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
}

 ion-toolbar {
     
ion-title{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 0px 5px 10px rgba(0,0,0, .5);
    font-family: 'Raleway', sans-serif;
}
    &:nth-child(3){
        box-shadow: 0px 7px 5px rgba(0,0,0, .3);
        display: flex;
        align-items: center;
        justify-content: center;
        ion-searchbar {
            text-align: center;
            width: 100%;
            padding: 0 7% 0 5%;
            
            
        }
    }
    &:nth-child(1){
        
            --background: #e5e5e5;
            padding-bottom: 4em;
            ion-buttons {
                ion-button {
                    ion-icon {
                        color: #560bad;
                    }
                }
            }

    }
    height: 4em;
    

    width: 100%;
    ion-buttons {
   
        display: flex;
        width: 100%;
        justify-content: space-between;
        ion-button {
            ion-icon {
                font-size: 2em;
                color: #fff;
                font-weight: 600;
                margin-right: 5%;
            
            }
        }
    }
    --background: rgba(86, 11, 173, .8);

}

.icobag{
    background-color: #570bad;
    color : #fff;
    width: .8em;
    height: .8em;
    border-radius: 5px;
    padding: 5px;
}
.box-ctr {
    width: 95%;
    
    height: 50%;

    .box-item{
        background-color: #fff;
        box-shadow: 0px 10px 15px rgba(0,0,0,.5);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
     
        margin-bottom: 5%;
        ion-label {
            p {
                font-weight: 600;
                color: #a8a8a8;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
              
                
            }
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: #14213d;
                font-size: 17px;
                text-transform: uppercase;
            }
       
        }
        h3 {
            color: #14213d;
            font-weight: 600;
            font-size: 17px;
        }
        ion-icon {
           font-size: 1.5em;
            margin: 1%;
            color: #560bad;
        }
    }
}
