<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" name="notifications-outline" color="dark"></ion-icon>
    <ion-button slot="end" (click)="addReceipt()" fill="clear">
      <ion-icon slot="start" class="icobag" name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-ctr ion-padding">
    <div class="box-item ion-padding" *ngFor="let receipt of Receipts">
      <ion-label>
        <p>{{receipt.receipt_date | date}}</p>
        <h2>{{receipt.receipt_label}}</h2>
        <h3>{{receipt.receipt_amount}} $</h3>
      </ion-label>
      <ion-icon name="receipt-outline"></ion-icon>
    </div>
  </div>



</ion-content>