<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="back" icon="chevron-back-outline" defaultHref="dashboard"></ion-back-button>
      </ion-button>
      <ion-icon name="logo-web-component"></ion-icon>


    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-ctr">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>new receipt</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="receiptForm" (ngSubmit)="onFormSubmit()">
          <ion-item>
            <ion-icon slot="start" name="storefront-outline"></ion-icon>
            <ion-input formControlName="receipt_label" type="text" placeholder="Shop title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-input formControlName="receipt_amount" type="text" placeholder="Amount"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-datetime placeholder="Date" formControlName="receipt_date" display-format="DD.MM.YYYY">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="apps-outline"></ion-icon>

            <ion-label>Tags</ion-label>
            <ion-select mode="ios" interface="action-sheet" value="food-drinks" multiple="true"
              formControlName="receipt_tags" cancelText="Cancel" okText="Add">
              <ion-select-option value="food-drinks"> Food & Drinks</ion-select-option>
              <ion-select-option value="tech-products">High Tech</ion-select-option>
              <ion-select-option value="medical-products">Medic</ion-select-option>
            </ion-select>

          </ion-item>

          <ion-button class="add-btn" type="submit" expand="block" fill="solid">
            Add Receipt
          </ion-button>
          <ion-button class="back-btn" (click)="backToDash()" expand="block" fill="clear">
            Back to dashboard
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>